@use "global" as *;


.about-counseling {
  padding-top: rem(80);
  padding-bottom: rem(80);
  @include mq("md") {
    padding-top: rem(130);
    padding-bottom: rem(180);
  }
}

.about-counseling__cards {
  margin-top: rem(40);
    @include mq("md") {
  margin-top: rem(60);
    }
  }