@use "global" as *;


html, body {
  overflow-x: clip; /* 対応外ブラウザは overflow-x: hidden; にフォールバック */
}


.tel-link {
  @include mq("md") {
  pointer-events: none; /* クリック無効 */
    cursor: default;
  }
}



