@use "global" as *;


.company__inner {
  padding-left: rem(20);
  padding-right: rem(20);
  max-width: rem(600);
  width: 100%;
  @include mq(md) {
    padding-left: rem(25);
    padding-right: rem(25);
    max-width: rem(1200);
  }
}

.company__profile {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(60);
  }
}










