@use "global" as *;


.company-profile {
  position: relative;
  padding: rem(80) 0;
  @include mq(md) {
    padding: rem(130) 0;
  }
}

.company-profile::after {
  content: "";
  position: absolute;
  background-image: url(../images/common/section_bg-right.jpg);
  height: 100%;
  background-position: right center;
  background-repeat: no-repeat;
  left: 0;
  width: 100%;
  background-size: contain;
  bottom: 0;
  z-index: -1;
}

.company-profile__inner.inner {
margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(60);
  }
}



