@use "global" as *;


.company-info__list {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: rem(15);
  font-size: rem(13);
  line-height: 1.3;
  letter-spacing: 0.08em;
  border-bottom: 1px solid $line-02;
  @include mq(md) {
    padding-top: 24px;
    padding-bottom: rem(25);
    font-size: rem(16);
  }
}

.company-info__term {
  font-weight: bold;
  color: #007acc;
  flex-shrink: 0;
  width: 80px;
  max-width: rem(120);
  @include mq(md) {
    width: 120px;
    max-width: rem(140);
  }
}

.company-info__description {
  padding-left: 16px;
  @include mq(md) {
    padding-left: 24px;
  }
}

.company-info__map-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  gap: rem(20);
  margin-top: rem(40);
  @include mq(md) {
    grid-template-columns: 1fr 1fr;
    gap: rem(40);
  }
}

.company-info__map-wrapper  iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}
.company-info__map-wrapper .about__map, .company-info__map-wrapper .about__access-list-wrapper {
  grid-area: initial;
}
.company-info__map-wrapper .about__map {
  order: 1;
  @include mq(md) {
    order: 2;
  }
}
.company-info__map-wrapper .about__access-list-wrapper {
  order: 2;
  @include mq(md) {
    order: 1;
  }
}





