@use "global" as *;


.company-message {
  position: relative;
  padding: rem(80) 0;
  @include mq(md) {
    padding: rem(130) 0;
  }
}

.company-message::before {
  content: "";
  position: absolute;
  background-position: left top;
  background-size: contain;
  top: rem(100);
  left: 0;
  // background-image: url(../images/common/section_bg-left.png);
  background-image: url(../images/common/left_bg.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
  @include mq(md){
  top: rem(-180);
  background-position: left center;
  background-size: 70%;
}
}

.company-message__inner.inner {
  width: 100%;
  max-width: rem(600);
  margin: 0 auto;
  @include mq(md) {
    max-width: rem(1130);
  }

}
.company-message__content {
  display: flex;
  flex-direction: column;
  gap: rem(40);
  @include mq(md) {
    flex-direction: row;
    align-items: center;
    gap: rem(60);
  }
}


.company-message__img{
  width: 100%;
  max-width: rem(600);
  margin: 0 auto;
  @include mq(md) {
    max-width: rem(480);
    margin-top: rem(0);
  }
}

.company-message__img img:not([alt]) {
  filter: initial;
}

.company-message__img img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 480 / 310;
}

.company-message__text-block {
  width: 100%;
  max-width: rem(600);
  margin: 0 auto;
  @include mq("md") {
    max-width: rem(540);
    margin-top: rem(60);
  }
}

.company-message__title {
  font-size: rem(20);
  line-height: 1.6;
  font-weight: $bold;
  letter-spacing: 0.03em;
  font-family: $ja-font-family;
  color:$primary-01;
  position: relative;
  @include mq("md") {
    font-size: rem(24);
  }
}

.company-message__title::before {
  position: absolute;
  bottom: rem(-5);
  left: 0;
  content: "";
  display: block;
  width: rem(85);
  height: rem(2);
  background-color: $line-01;
  @include mq("md") {
    width: rem(110);
    bottom: rem(-10);
  }
}

.company-message__description {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(60);
  }
}

.company-message__text {
  font-size: rem(16);
  line-height: 1.6;
}

.company-message__text + .company-message__text {
  margin-top: rem(20);
}

.company-message__profile {
  margin-top: rem(20);
  @include mq(md) {
    margin-top: rem(40);
  }
}





