@use "global" as *;


.company-profile__list {
  display: flex;
  align-items: center;
  // white-space: nowrap;
  padding-top: 16px;
  padding-bottom: rem(15);
  font-size: rem(13);
  line-height: 1.3;
  letter-spacing: 0.08em;
  border-bottom: 1px solid $line-02;
  @include mq(md) {
    padding-top: 24px;
    padding-bottom: rem(25);
    font-size: rem(16);
  }
}

.company-profile__term {
  font-weight: bold;
  color: #007acc;
  flex-shrink: 0;
  width: 80px;
  max-width: rem(120);
  @include mq(md) {
    width: 120px;
    max-width: rem(140);
  }
}

.company-profile__description {
  padding-left: 16px;
  @include mq(md) {
    padding-left: 24px;
  }
}

.company-profile__map {
  margin-top: rem(20);
  width: 100%;
  margin: 0 auto;       /* 中央寄せ（必要なければ削除） */
  aspect-ratio: 980 / 280;
  @include mq(md) {
  margin-top: rem(40);
  }
}

.company-profile__map iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}


