@use "global" as *;

.contact-info {
  border-radius: 8px;
  padding-top: rem(30);
  text-align: center;
}

.contact-info__phone {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: solid 1px $primary-01;
  border-radius: rem(40);
  padding-top: rem(10);
  padding-bottom: rem(10);
  background-color: $text-white;
  width: 100%;
  max-width: calc(250 / 335 * 100%);
  margin: 0 auto;
}

.contact-info__icon {
  font-size: rem(16);
  color: $text-white;
}

.contact-info__number {
  font-family: $en-font-family;
  color: $primary-01;
  font-size: rem(20);
  font-weight: $bold;
}

.contact-info__hours {
  margin-top: rem(8);
  color: $text-black;
  font-size: rem(14);
  // opacity: 0.9;
}
