@use "global" as *;

.content02 {
 
}

.content02__header .section-title {
  text-transform: uppercase;
}
.content02__header .section-title__en {
  text-transform: uppercase;
}

.content02__items {
  counter-reset: number;
  margin-top: rem(40);
  @include mq(md){
    margin-top: rem(60);
  }
}

.content02__item {
  @include mq(md){
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
}

.content02__item + .content02__item {
  margin-top: rem(70);
  @include mq(md){
      margin-top: rem(80);
  }
}

.content02__item:nth-of-type(even) {
  flex-direction: row-reverse;
}

.content02__item-img {
  width: 100%;
  @include mq(md){
      max-width: rem(480);
  }
}

.content02__item:nth-of-type(even) .content02__item-img {
  @include mq(md){
      margin-left: rem(80);
  }
}

.content02__item-img img {
  width: 100%;
  aspect-ratio: 480/310;
  object-fit: cover;
}

.content02__item:nth-of-type(even) .content02__item-text-wrap {
  margin-left: 0;
  @include mq(md){
      margin-left: 0;
  }
}

.content02__item-body {
  margin-top: rem(20);
  width: 100%;
  @include mq(md){
    max-width: rem(540);
  }
}

.content02__item-title {
  font-size: rem(20);
  line-height: 1.6;
  font-weight: $bold;
  color: $primary-02;
  position: relative;
  @include mq(md){
    font-size: rem(24);
  }
}

.content02__item-title::before {
  counter-increment: number;
  content: counter(number, decimal-leading-zero);
  display:inline-block;
  font-size: rem(25);
  line-height: 1;
  font-family: $en-font-family;
  font-weight: $bold;
  letter-spacing: 0.03em;
  color: $primary-04;
  padding-right: rem(10);
  @include mq(md){
    font-size: rem(30);
  }
}

.content02__item-title::after {
  content: "";
  margin-bottom: rem(0);
  height: rem(1);
  background-color: $primary-04;
  width: rem(30);
  position: absolute;
  bottom: 0;
  left: 0;
  @include mq(md){
    width: rem(37);
  }
}

.content02__item-text-wrap {
  margin-top: rem(20);
  @include mq(md){
    margin-top: rem(40);
  }
}

.content02__item-text {
  font-size: rem(16);
  line-height: 1.6;
}