@use "global" as *;

.contact-info {
  border-radius: 8px;
  padding: 12px 16px;
  text-align: center;
}

.contact-info__phone {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: rem(4);
  border: solid 1px $text-white;
  border-radius: rem(20);
  padding: rem(4) rem(8);
}

.contact-info__icon {
  font-size: rem(16);
  color: $text-white;
}

.contact-info__number {
  color: $text-white;
  font-size: rem(16);
  font-weight: $bold;
}

.contact-info__hours {
  color: $text-white;
  font-size: rem(11);
  opacity: 0.9;
}
