@use "global" as *;

.counseling-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: rem(30);
  
  @include mq("md") {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: rem(40);
  }
}