@use "global" as *;

.counseling {
  margin-top: rem(60);
  padding: rem(60) 0;
  background-color: #fff;
  
  @include mq("md") {
    margin-top: rem(120);
    padding: rem(120) 0;
  }
}

.counseling__inner {
  max-width: rem(1200);
  margin: 0 auto;
  padding: 0 rem(20);
  @include mq("md") {
    padding: 0 rem(40);
  }
}

.counseling__title {
  text-align: center;
  @include mq("md") {
  }
}

.counseling__cards {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(60);
  }
}





