@use "global" as *;

.intro {

}

.intro--psychological {

}

.intro__inner.inner {
  @include mq("md") {
    display: flex;
    // flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: rem(40);
    max-width: rem(1130);
    margin-left: auto;
    margin-right: auto;
    padding-top: rem(130);
    padding-bottom: rem(130);
  }

}



.intro__text-block {

}

.intro__title {
  font-size: rem(20);
  line-height: 1.6;
  font-weight: $bold;
  letter-spacing: 0.03em;
  font-family: $ja-font-family;
  color:$primary-01;
  @include mq("md") {
    font-size: rem(30);
  }
}

.intro__description {
margin-top: rem(40);
@include mq("md") {
  margin-top: rem(60);
}
}

.intro__paragraph {

}

.intro__title-text {
  position: relative;
}
.intro__title-text::before {
  position: absolute;
  bottom: rem(-5);
  left: 0;
  content: "";
  display: block;
  width: rem(85);
  height: rem(2);
  background-color: $line-01;
  @include mq("md") {
    width: rem(110);
    bottom: rem(-10);
  }
  // margin-right: rem(10);
}

.intro__image-wrapper {
  margin-top: rem(40);
  width: 100%;
  max-width: rem(600);
  margin: 0 auto;
  @include mq("md") {
    max-width: rem(440);
  }
}

.intro__image {

}





