@use "global" as *;

// .intro {
//   background-image: url(../images/common/intro_bg.jpg);
//   background-size: contain;
//   background-position: right 200px;
//   background-repeat: no-repeat;
//   height: 100vh;
//   width: 100%;
//   @include mq("md") {
//     background-image: url(../images/common/intro_bg.jpg);
//   }
// position: relative;
// }

// .intro::after {
//   content: "";
//   position: absolute;
//   left: 0;
//   right: 0;
//   bottom: -50px; /* 下に伸ばす量 */
//   height: 50px;
//   background: inherit; /* 親と同じ背景を引き継ぐ */
//   background-position: bottom center;
// }

.intro {
  position: relative;
  height: 100vh;
  width: 100%;
}

.intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: url(../images/common/intro_bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 240px;
  pointer-events: none;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: 64%;
  bottom: -160px;

}

.intro__inner {
  position: relative;
  z-index: 1;
}

.intro--psychological {

}

.intro__inner.inner {
  @include mq("md") {
    display: flex;
    // flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: rem(40);
    max-width: rem(1130);
    margin-left: auto;
    margin-right: auto;
    padding-top: rem(130);
    padding-bottom: rem(130);
  }

}



.intro__text-block {

}

.intro__title {
  font-size: rem(20);
  line-height: 1.6;
  font-weight: $bold;
  letter-spacing: 0.03em;
  font-family: $ja-font-family;
  color:$primary-01;
  @include mq("md") {
    font-size: rem(30);
  }
}

.intro__description {
margin-top: rem(40);
@include mq("md") {
  margin-top: rem(60);
}
}

.intro__paragraph {

}

.intro__title-text {
  position: relative;
}
.intro__title-text::before {
  position: absolute;
  bottom: rem(-5);
  left: 0;
  content: "";
  display: block;
  width: rem(85);
  height: rem(2);
  background-color: $line-01;
  @include mq("md") {
    width: rem(110);
    bottom: rem(-10);
  }
  // margin-right: rem(10);
}

.intro__image-wrapper {
  margin-top: rem(40);
  width: 100%;
  max-width: rem(600);
  margin: 0 auto;
  @include mq("md") {
    max-width: rem(440);
  }
}

.intro__image {

}





