@use "global" as *;

.message {
  margin-top: rem(60);
  background-image: url(../images/common/message_bg-sp.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  @include mq("md") {
    background-image: url(../images/common/message_bg-pc.png);
  }
}

.message__title {
  margin-top: rem(40);
}

.message__heading {
  font-size: rem(22);
  letter-spacing: 0.03em;
  line-height: 1.6;
  font-family: $ja-font-family;
  margin-top: rem(40);
  font-weight: $medium;
  @include mq("md") {
    font-size: rem(38);
  }
}

.message__text {
  margin-top: rem(20);
  color: $text-black;
}

.message__text-space {
  display: inline-block;
  margin-top: rem(10);
  margin-bottom: rem(10);
}