@use "global" as *;

.message {
  margin-top: rem(60);
  background-image: url(../images/common/message_bg-sp.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  @include mq("md") {
    background-image: url(../images/common/message_bg-pc.png);
  }
}

.message__inner.inner {
  @include mq("md") {
    display: flex;
    max-width: rem(1080);
    width: 100%;
    margin: 0 auto;
  }
}

.message__title {
  margin-top: rem(40);
}

.message__heading {
  font-size: rem(22);
  letter-spacing: 0.03em;
  line-height: 1.6;
  font-family: $ja-font-family;
  margin-top: rem(40);
  font-weight: $medium;
  @include mq("md") {
    font-size: rem(26);
    margin-top: rem(60);
  }
}

.message__text {
  margin-top: rem(20);
  color: $text-black;
}

.message__text-space {
  display: inline-block;
  margin-top: rem(10);
  margin-bottom: rem(10);
}

.message__image {
  @include mq("md") {
    max-width: rem(420);
    width: 100%;
  }
}

.message__content {
  @include mq("md") {
    // width: calc(100% - rem(420));
    max-width: rem(580);
    width: 100%;
    margin: 0 auto;
  }
}