@use "global" as *;

.message {
  position: relative;
  margin-top: rem(60);
  padding-bottom: rem(80);
  background-image: url(../images/common/message_bg-sp.jpg);
  background-position: right 10%;
  background-repeat: no-repeat;
  background-size: contain;
  @include mq("md") {
    background-image: url(../images/common/section_bg-right--strong.jpg);
    margin-top: rem(90);
    padding-bottom: rem(130);
    background-position: right rem(80);
    background-size: 60%;
  }
}

.message::before {
  background-image: url(../images/common/section_bg-sp-message.jpg);
  background-position: left 75%;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 100%;
  left: 0;
  padding: rem(80) 0;
  position: absolute;
  top: 0;
  width: 100%;
  @include mq(md) {
    padding: rem(120) 0;
    display: none;
  }
}

.message__inner.inner {
  @include mq("md") {
    display: flex;
    max-width: rem(1080);
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    padding: 0 rem(100)
    // gap: rem(40);
  }
}

.message__header {
  @include mq("md") {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row-reverse;

  }
}

.message__title {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(0);
  }
}

.message__heading {
  font-size: rem(22);
  letter-spacing: 0.03em;
  line-height: 1.6;
  font-family: $ja-font-family;
  margin-top: rem(40);
  font-weight: $medium;
  @include mq("md") {
    font-size: rem(26);
    margin-top: rem(60);
  }
}

.message__text {
  margin-top: rem(20);
  color: $text-black;
  @include mq("md") {
    margin-top: rem(40);
  }
}

.message__text-space {
  display: inline-block;
  margin-top: rem(10);
  margin-bottom: rem(10);
  @include mq("md") {
    margin-top: rem(23);
    margin-bottom: rem(23);
  }
}

.message__image {
  @include mq("md") {
    max-width: rem(200);
    width: 100%;
    margin-top: rem(20);
  }
}

.message__content {
  @include mq("md") {
    // width: calc(100% - rem(420));
    // max-width: rem(580);
    width: 100%;
    // margin: 0 auto;
    // margin-left: auto;
    margin-top: rem(-165);
  }
}

.message__item-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: rem(20);
  position: relative;
  @include mq("md") {
    margin-top: rem(20);
  }
}

.message__item-list li {
  position: relative;
  padding-left: rem(12);
  font-size: rem(15);
  line-height: 1.6;
  color: $text-black;
  // margin-top: rem(8);
  @include mq("md") {
    padding-left: rem(15);

  }
}

.message__item-list li:first-child {
  margin-top: 0;
}

.message__item-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: rem(8);
  width: rem(6);
  height: rem(6);
  background-color: #BCCDD5;
  border-radius: 50%;
  
  @include mq("md") {
    top: rem(9);
  }
}

.message__item-list li:last-child {
  margin-bottom: 0;
}

.message__item-list.message__item-list--mt0 {
  margin-top: 0;
}