@use "global" as *;

.mv {
  background-image: url(../images/common/fv-pc.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  padding-top: 80px;
}

.mv__inner {

}

.mv__content {

}

.mv__title {

}

.mv__title-line {

}

.mv__illustration {

}

.hands-illustration {

}

.mv__subtitle {

}

.mv__cta {

}

.cta-button {

}

.cta-button__text {

}

.cta-button__phone {

}

