@use "global" as *;

.main {
  // padding-topを削除
}

.mv {
  background-image: url(../images/common/fv-pc.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  // margin-top: -80px; // ヘッダーの高さ分だけ上に移動
  padding-top: 80px; // コンテンツがヘッダーの下に隠れないようにパディング
}

.mv__inner {

}

.mv__content {

}

.mv__title {

}

.mv__title-line {

}

.mv__illustration {

}

.hands-illustration {

}

.mv__subtitle {

}

.mv__cta {

}

.cta-button {

}

.cta-button__text {

}

.cta-button__phone {

}

