@use "global" as *;

.nav-links {
  margin-top: rem(80);
  text-align: center;
  @include mq(md){
  margin-top: rem(100);
  }
}

.nav-links--layout {
  margin-top: rem(80);
  @include mq("md") {
    margin-top: rem(100);
  }
}