@use "global" as *;

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

@include mq("md") {
  .nav-list {
    flex-wrap: nowrap;
    gap: 30px;
    margin-top: 0;
  }
}

.nav-list__link {
  color: $text-white;
  text-decoration: none;
  font-size: rem(12);
  font-weight: $normal;
  transition: color 0.3s ease;
  font-family: $ja-font-family;
}

.nav-list__link:hover {
  color: $primary-02;
}

// ヘッダー追従時のメニュー色
.is-scrolled .nav-list__link {
  color: $text-black !important;
}

.header.is-scrolled .nav-list__link:hover {
  color: $primary-01 !important;
}

@include mq("md") {
  .nav-list__link {
    font-size: rem(14);
  }
  
}

.header-nav__link {
  position: relative;
}