@use "global" as *;

.price-info {
  max-width: rem(600);
  margin: 0 auto;
  padding: rem(40) 0;
  color: $text-black;
  background-color: $text-white;
  margin-top: rem(40);
  padding-bottom: rem(0);
  @include mq(md) {
    max-width: rem(1080);
    padding-top: rem(40);
    padding-bottom: rem(40);
    padding-right: rem(180);
    padding-left: rem(180);
    margin-top: rem(80);
  }
}

.price-info__header {
  text-align: center;
}

.price-info__title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  padding-bottom: 8px;
  margin: 0 auto;
}

.price-info__title .section-title02__text {
  font-size: rem(20);
  font-weight: $bold;
  text-align: center;
  display: inline-block;
  padding-bottom: rem(8);
  margin: 0 auto;
  @include mq(md) {
    font-size: rem(24);
  }
}

.price-info__title.section-title02::before{
  bottom: rem(10);
}

.price-info__description {
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(30);
  }
}

.price-info__methods {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  justify-content: space-between;
  margin-top: rem(20);
  @include mq(md) {
    gap: rem(20);
  }

}

.price-info__method {
  background-color: $bg-01;
  padding: rem(20);
  flex: 1 1 320px;
  box-sizing: border-box;
  width: 100%;
  @include mq(md) {
    max-width: rem(350);
  }
}
.price-info__method-title {
  font-size: rem(20);
  font-weight: $bold;
  color: $primary-01;
  padding-bottom: rem(5);
}

.price-info__method--post .price-info__method-title {
  color: $primary-01;
  border-bottom: 1px solid $primary-01;
}

.price-info__method--bank .price-info__method-title {
  color: $primary-03;
  border-bottom: 1px solid $primary-03;
}



.price-info__method-body {
  font-size: rem(16);
  line-height: 1.6;
  margin-top: rem(10);
}

.price-info__method-text  {
  font-size: rem(16);
  line-height: 1.6;
}



