@use "global" as *;


.section-button {
  display: inline-block;
  display: flex;
}

.section-button__wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: opacity 0.3s ease;
}

// .section-button__wrapper::after {
//   content: "";
//   position: absolute;
//   bottom: rem(-4);
//   left: 0;
//   width: 0;
//   height: rem(2);
//   background-color: $primary-01;
//   transition: width 0.3s ease;
// }

// .section-button__wrapper:hover::after {
//   width: 100%;
// }

.counseling__card:hover .section-button__wrapper::after {
  width: 100%;
}

.counseling__card:hover .section-button__icon {
  background-color: $primary-02;
}

.section-button__text {
  font-size: rem(16);
  font-weight: $medium;
  color: $text-black;
  @include mq("md") {
    font-size: rem(18);
  }
}

.section-button__icon {
  width: rem(32);
  height: rem(32);
  background-color: $primary-01;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  margin-left: rem(20);
}

.section-button:hover .section-button__icon {
  background-color: $primary-02;
}

.section-button__icon span {
  display: inline-block;
  width: rem(10);
  height: rem(10);
  background: #ffffff;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  margin-left: rem(2);
}


/* 1) テキストに疑似要素を付与 */
.section-button__text {
  position: relative;
  display: inline-block;
}

.section-button__text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: rem(-4);
  width: 0;
  height: rem(2);
  background-color: $primary-01;
  transition: width 0.3s ease;
}

.section-button__wrapper:hover .section-button__text::after,
.counseling__card:hover .section-button__text::after,
.blog-list__item:hover .section-button__text::after {
  width: 100%;
}




