@use "global" as *;


.target {
  padding: rem(80) 0;
  @include mq("md") {
    padding: rem(130) 0;
  }
} 

.target__text {
  font-size: rem(16);
  line-height: 1.6;
  margin-top: rem(60);
  text-align: center;
  @include mq("md") {
    font-size: rem(16);
    margin-top: rem(80);
  }
}

.target__discription {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(60);
  }
}

.target__discription-text {
  font-size: rem(16);
  line-height: 1.6;
  text-align: center;
}

.target .content01__layout {
  margin-top: rem(100);
  @include mq("md") {
    margin-top: rem(120);
  }
}


