@use "global" as *;


.btn {
  padding: rem(14) rem(60);
  position: relative;
  display: inline-block;
  font-size: rem(16);
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 1px solid $primary-03;
  background-color: $primary-03;
  border-radius: rem(20);
}

.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  right: rem(20);
  width: rem(8);
  height: rem(8);
  border-top: rem(2) solid #000;
  border-right: rem(2) solid #000;
  transform: translateY(-50%) rotate(45deg);
  transition: .3s;
}

.section-button__icon {
  width: rem(32);
  height: rem(32);
  background-color: $primary-03;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  margin-left: rem(20);
  transition: .3s;
}

.section-button:hover .section-button__icon {
  background-color: $primary-02;
}

.section-button__icon span {
  display: inline-block;
  width: rem(10);
  height: rem(10);
  background: #ffffff;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  margin-left: rem(2);
}

.btn:hover {
  @include mq(md) {
      opacity: 1;
  }
}

.btn:hover::before {
  @include mq(md){
      right: rem(15);
  }
}

// Modifier
.btn.btn--black {
  color: #fff;
  background-color: #000;
}

.btn.btn--black::before {
  border-top: rem(2) solid #fff;
  border-right: rem(2) solid #fff;
}


.button02 {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(16.5) rem(20) rem(16.5) rem(80);
  background-color: $primary-03;
  border-radius: rem(40);
  color: #fff;
  font-weight: $regular;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: rem(16);
  line-height: 1.6;
}

.button02:hover {
  background-color: #1C9BDB !important;
}

.button02__text {
  white-space: nowrap;
}

.button02__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(29);
  height: rem(29);
  margin-left: rem(40);
  transition: transform 0.3s ease;
}

.button02__icon img {
  width: 100%;
}

.button02:hover .button02__icon {
  transform: translateX(rem(10)) !important;
}
