@use "global" as *;





.service-swiper .swiper-slide {
  transform: scale(.8);
  transition: 1s;
  transform-origin: bottom center;

  // max-width: rem(610.3);
}

.service-swiper .swiper-slide-active {
  transform: scale(1) translateY(15px);
  max-width: rem(720);
}

