@use "global" as *;

.voice {
  padding-top: rem(80);
  padding-bottom: rem(80);
  @include mq(md) {
    padding-top: rem(120);
    padding-bottom: rem(120);
  }
}


.voice__inner.inner {
  max-width: rem(600);
  margin: 0 auto;
  padding: 0 rem(20);
  @include mq(md) {
    max-width: rem(1130);
    padding: 0 rem(25);
  }
}

.voice__card + .voice__card {
  margin-top: rem(20);
  @include mq(md) {
    margin-top: rem(30);
  }
}
